@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    font-family: "Libre Franklin";
    font-weight: normal;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="number"] {
    text-align: center;
}

table {
    border: 1px solid rgb(208, 208, 208);
    border-collapse: collapse;
    background-color: hsl(0, 0%, 96%);
    margin: auto;
}

table tr:first-child {
    background-color: white;
}

th, td {
    border: 1px solid rgb(208, 208, 208);
    padding: 0.4rem;
}

#container {
    height: 90%;
    width: 90%;
    background-color: azure;
    text-align: center;
}