@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin');

* {
    box-sizing: border-box;
}

h1 {
    font-weight: normal;
}

body {
    margin: 0;
    padding: 1rem;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Libre Franklin", sans-serif;
}

#container {
    text-align: center;
    width: 500px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 2rem;
}

li {
    font-size: 1.4rem;
}

li button {
    margin-left: 0.4rem;
}